RPC_URL="YOUR_ETHEREUM_RPC_URL"
DATABASE_URL=postgres://myuser:mypassword@192.168.0.8:5432/mydb
AWS_USAGE_PLAN_ID=your_aws_usage_plan_id
PORT=3000
JWT_SECRET=your_jwt_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d
DB_CONNECTION=mongodb://localhost:27017/yourdatabase
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-16-digit-app-password

BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_z6Wgj3W5n3eYSLEKPRJ4OrE900vpjOnFhP
STRIPE_ENDPOINT_SECRET=whsec_12345
