PORT=
DATABASE_URL=
# Primary connection (eth-mainnet)
DB_HOST_ETH_MAINNET=
DB_PORT_ETH_MAINNET=5432
DB_USER_ETH_MAINNET=
DB_PASSWORD_ETH_MAINNET=
DB_DATABASE_ETH_MAINNET=

# Example for a test network (eth-testnet)
# DB_HOST_ETH_TESTNET=
# DB_PORT_ETH_TESTNET=5432
# DB_USER_ETH_TESTNET=
# DB_PASSWORD_ETH_TESTNET=
# DB_DATABASE_ETH_TESTNET=

# Example for another network (bsc-mainnet)
# DB_HOST_BSC_MAINNET=
# DB_PORT_BSC_MAINNET=5432
# DB_USER_BSC_MAINNET=
# DB_PASSWORD_BSC_MAINNET=
# DB_DATABASE_BSC_MAINNET=