{"openapi":"3.0.0","paths":{"/{version}/{networkName}/token":{"get":{"operationId":"TokenController_getTokens","summary":"Get a paginated list of tokens, optionally filter by type.","parameters":[{"name":"version","required":true,"in":"path","description":"API version, currently only v1 is supported","example":"v1","schema":{"type":"string"}},{"name":"networkName","required":true,"in":"path","description":"Blockchain network, currently only eth-mainnet is supported","example":"eth-mainnet","schema":{"type":"string"}},{"name":"tokenType","required":false,"in":"query","description":"Filter by token type (erc20, erc721, erc777, erc1155)","schema":{"enum":["erc20","erc721","erc777","erc1155"],"type":"string"}},{"name":"page","required":false,"in":"query","description":"Page number for pagination","example":1,"schema":{"type":"number"}},{"name":"limit","required":false,"in":"query","description":"Number of tokens per page, Max 100 per page","example":10,"schema":{"type":"number"}}],"responses":{"200":{"description":"The paginated list of tokens.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TokenDto"}}}}}},"tags":["Tokens"]}},"/{version}/{networkName}/token/{contractAddress}":{"get":{"operationId":"TokenController_getTokenByAddress","summary":"Get token by contract address.","parameters":[{"name":"version","required":true,"in":"path","description":"API version, currently only v1 is supported","example":"v1","schema":{"type":"string"}},{"name":"networkName","required":true,"in":"path","description":"Blockchain network, currently only eth-mainnet is supported","example":"eth-mainnet","schema":{"type":"string"}},{"name":"contractAddress","required":true,"in":"path","description":"The contract address of the token in hexadecimal format or an ENS name.","example":"0xCeD4E93198734dDaFf8492d525Bd258D49eb388E","schema":{"type":"string"}}],"responses":{"200":{"description":"The token details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenDto"}}}}},"tags":["Tokens"]}},"/{version}/{networkName}/balance":{"get":{"operationId":"BalanceController_getBalance","summary":"Get balance by wallet, token, and block number for a given network.","parameters":[{"name":"version","required":true,"in":"path","description":"API version, currently only v1 is supported","schema":{"type":"string"}},{"name":"networkName","required":true,"in":"path","description":"Blockchain network, currently only eth-mainnet is supported","schema":{"type":"string"}},{"name":"walletAddress","required":true,"in":"query","description":"The wallet address or ENS name of the user.","example":"0x1234567890abcdef1234567890abcdef12345678","schema":{"type":"string"}},{"name":"tokenAddress","required":true,"in":"query","description":"The contract address of the token.","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd","schema":{"type":"string"}},{"name":"blockNumber","required":true,"in":"query","description":"The block number for which the balance is requested.","example":"123456","schema":{"type":"string"}}],"responses":{"200":{"description":"The balance data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceDto"}}}}},"tags":["Balances"]}},"/{version}/{networkName}/allowance":{"get":{"operationId":"AllowanceController_getAllowance","summary":"Get allowance by owner, spender, token, and block number for a given network.","parameters":[{"name":"version","required":true,"in":"path","description":"API version, currently only v1 is supported","example":"v1","schema":{"type":"string"}},{"name":"networkName","required":true,"in":"path","description":"Blockchain network, currently only eth-mainnet is supported","example":"eth-mainnet","schema":{"type":"string"}},{"name":"owner","required":false,"in":"query","description":"The ENS name or address of the owner in hexadecimal format.","schema":{"type":"string"}},{"name":"spender","required":false,"in":"query","description":"The ENS name or address of the spender in hexadecimal format.","schema":{"type":"string"}},{"name":"tokenAddress","required":false,"in":"query","description":"The contract address of the token in hexadecimal format.","schema":{"type":"string"}},{"name":"blockNumber","required":false,"in":"query","description":"The block number for which the allowance is requested.","schema":{"type":"string"}}],"responses":{"200":{"description":"The allowance data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllowanceDto"}}}}},"tags":["Allowances"]}},"/{version}/{networkName}/token-supply":{"get":{"operationId":"TokenSupplyController_getTokenSupply","summary":"Get token supply by token address and block number for a given network.","parameters":[{"name":"version","required":true,"in":"path","description":"API version, currently only v1 is supported","schema":{"type":"string"}},{"name":"networkName","required":true,"in":"path","description":"Blockchain network, currently only eth-mainnet is supported","schema":{"type":"string"}},{"name":"tokenAddress","required":true,"in":"query","description":"The contract address of the token or ENS name.","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd","schema":{"type":"string"}},{"name":"blockNumber","required":true,"in":"query","description":"The block number for which the token supply is requested.","example":"123456","schema":{"type":"string"}}],"responses":{"200":{"description":"The token supply data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenSupplyDto"}}}}},"tags":["TokenSupplies"]}},"/{version}/{networkName}/token-id":{"get":{"operationId":"TokenIDController_getTokenID","summary":"Get token metadata by contract address and token ID for a given network.","parameters":[{"name":"version","required":true,"in":"path","description":"API version, currently only v1 is supported","schema":{"type":"string"}},{"name":"networkName","required":true,"in":"path","description":"Blockchain network, currently only eth-mainnet is supported","schema":{"type":"string"}},{"name":"contractAddress","required":true,"in":"query","description":"The contract address of the token or ENS name.","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd","schema":{"type":"string"}},{"name":"tokenId","required":true,"in":"query","description":"The token ID for the ERC721 or ERC1155 token.","example":"1","schema":{"type":"string"}}],"responses":{"200":{"description":"The token metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenIDDto"}}}}},"tags":["TokenIDs"]}}},"info":{"title":"Histori API","description":"API for token data and historical balances","version":"0.0.5","contact":{}},"tags":[],"servers":[{"url":"https://api.histori.xyz","description":"Production server"},{"url":"http://localhost:3000","description":"Local development server"}],"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"x-api-key"}},"schemas":{"TokenDto":{"type":"object","properties":{"contractAddress":{"type":"string","description":"Token contract address in hexadecimal format","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"},"blockNumber":{"type":"number","description":"Block number at the time of token creation","example":123456},"tokenType":{"type":"string","description":"Type of the token (e.g., ERC20, ERC721, ERC777, ERC1155)","example":"ERC20"},"name":{"type":"string","description":"Token name (required for all token types)","example":"My Token"},"symbol":{"type":"string","description":"Token symbol (required for all token types)","example":"MTK"},"decimals":{"type":"number","description":"Number of decimals for ERC20 tokens","example":18},"granularity":{"type":"string","description":"Granularity for ERC777 tokens","example":"1","nullable":true}},"required":["contractAddress","blockNumber","tokenType","name","symbol","decimals","granularity"]},"BalanceDto":{"type":"object","properties":{"holder":{"type":"string","description":"Wallet address of the token holder in hexadecimal format","example":"0x1234567890abcdef1234567890abcdef12345678"},"contractAddress":{"type":"string","description":"Token contract address in hexadecimal format","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"},"balance":{"type":"string","description":"The balance of the token","example":"1000000000000000000"},"blockNumber":{"type":"number","description":"Block number at the time the balance was recorded","example":123456},"tokenId":{"type":"string","description":"Token ID for ERC721 tokens (optional)","example":1,"nullable":true}},"required":["holder","contractAddress","balance","blockNumber","tokenId"]},"AllowanceDto":{"type":"object","properties":{"contractAddress":{"type":"string","description":"The contract address of the token in hexadecimal format."},"owner":{"type":"string","description":"The ENS name or address of the owner."},"spender":{"type":"string","description":"The ENS name or address of the spender."},"allowance":{"type":"string","description":"The allowance amount. Optional for ERC721 and ERC1155 tokens, which do not have a specific allowance value."},"blockNumber":{"type":"number","description":"The block number for which the allowance is requested."},"tokenType":{"type":"string","description":"The type of token: erc20, erc721, erc777, or erc1155."},"tokenId":{"type":"string","description":"The token ID, used for non-fungible tokens like ERC721 and ERC1155. Optional."}},"required":["contractAddress","owner","spender","blockNumber","tokenType"]},"TokenSupplyDto":{"type":"object","properties":{"contractAddress":{"type":"string","description":"Token contract address in hexadecimal format","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd"},"blockNumber":{"type":"number","description":"Block number at the time of the snapshot","example":123456},"totalSupply":{"type":"string","description":"Total supply of the token at the given block number","example":"1000000000000000000"}},"required":["contractAddress","blockNumber","totalSupply"]},"TokenIDDto":{"type":"object","properties":{"contractAddress":{"type":"string","description":"Contract address in hexadecimal format (20 bytes)","example":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcd","nullable":false},"tokenId":{"type":"string","description":"Token ID for ERC721/1155 tokens","example":1,"nullable":false},"tokenUri":{"type":"string","description":"Optional URI for token metadata","example":"https://metadata.example.com/token/1","nullable":true}},"required":["contractAddress","tokenId","tokenUri"]}}}}